.idea
.venv
.idea/book_delivery_backend.iml
myenv
/book_delivery_backend/__pycache__
/volunteer/__pycache__
/index/migrations/__pycache__
/index/migrations/__pycache__
/index/__pycache__
/user/__pycache__
/volunteer/__pycache__
/index/migrations/__pycache__
/index/__pycache__
/index/migrations/__pycache__
