.idea
.venv
.idea/book_delivery_backend.iml
myenv
__pycache__
(^|[\\/])__pycache__([\\/]|$)
algorithm/__pycache__
book_delivery_backend/__pycache__
index/__pycache__
monitor/__pycache__
monitor/migrations/__pycache__
user/__pycache__
user/migrations/__pycache__
volunteer/__pycache__
volunteer/migrations/__pycache__